.button {
    background-color: rgb(159, 176, 187);
    border: none;
    color: black;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.button:hover {
    background-color: rgb(105, 120, 129);
    color: black;
}

.button:disabled{
  background-color: rgb(135, 142, 146);
  color: black;
}
